apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "frontier-squid.fullname" . }}
  labels:
    {{- include "frontier-squid.labels" . | nindent 4 }}
spec:
  replicas: {{ default 1 .Values.replicas }}
  selector:
   matchLabels:
     {{- include "frontier-squid.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "frontier-squid.selectorLabels" . | nindent 8 }}
        {{- toYaml .Values.customLabels | nindent 8 }}
    spec:
      {{- if .Values.podAssignment.enableNodeSelector }}
      nodeSelector:
        {{- toYaml .Values.customLabels | nindent 8 }}
      {{- end }}
      {{- if .Values.podAssignment.enablePodAntiAffinity }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                {{- range $key, $val := .Values.customLabels }}
                - key: {{ $key }}
                  operator: In
                  values:
                  - {{ $val }}
                {{- end }}
              topologyKey: "kubernetes.io/hostname"
      {{- end }}
      securityContext:
        runAsUser: 5000
        runAsGroup: 5000
        fsGroup: 5000
      initContainers:
        - name: frontier-squid-init0-makedirs
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ default "IfNotPresent" .Values.image.pullPolicy }}
          command: ["/usr/sbin/squid", "-f", "/etc/squid/squid.conf", "-N", "-z"]
          volumeMounts:
            - name: frontier-squid-config
              mountPath: /etc/squid/squid.conf
              subPath: squid.conf
            - name: frontier-squid-disk-cache
              mountPath: {{ default "/var/cache/squid" .Values.config.cache.diskDirectory }}
      containers:
      - name: frontier-squid
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ default "IfNotPresent" .Values.image.pullPolicy }}
        command: ["/usr/sbin/squid", "-f", "/etc/squid/squid.conf", "-N", "-d1"]
        {{- if .Values.probes.liveness }}
        livenessProbe:
          tcpSocket:
            port: 3128
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
        {{- end }}
        {{- if .Values.probes.readiness }}
        readinessProbe:
          exec:
            command:
              - /usr/bin/curl
              - --silent
              - --fail
              - --output
              - /dev/null
              - --proxy
              - http://127.0.0.1:3128
              - http://cvmfs-stratum-one.cern.ch/cvmfs/info/v1/meta.json
          initialDelaySeconds: 5
          periodSeconds: 30
        {{- end }}
        volumeMounts:
          - name: frontier-squid-config
            mountPath: /etc/squid/squid.conf
            subPath: squid.conf
          - name: frontier-squid-disk-cache
            mountPath: {{ default "/var/cache/squid" .Values.config.cache.diskDirectory }}
      resources: {{- .Values.resources | toYaml | nindent 8 }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      volumes:
        - name: frontier-squid-config
          configMap:
            name: {{ include "frontier-squid.fullname" . }}-config
        - name: frontier-squid-disk-cache
          emptyDir: {}
