
name: Helm

on:
  pull_request:
    paths:
      - .github/workflows/helm.yml
      - bin/*
      - '**/**'

permissions:
  contents: read

jobs:
  helm-docs-diff:
    runs-on: ubuntu-20.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - run: bin/helm-docs-diff
   
